/* General parameters */

    body {
        font-family: 'Ubuntu', sans-serif;
        /*min-height: 740px;*/
        background: #f7f7f7;
    }

    div {
        margin: 0px 0px 0px 0px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    p {
        color: #000;
    }
    
    code {
        font-family: 'Ubuntu Mono', sans-serif;
        background: #efefef;
        color: #333333;
    }
    
    code, pre {
        font-family: "Ubuntu Mono", "Consolas", "Monaco", "Lucida Console", "Courier New", Courier, monospace;
    }
    
    dl {
    
        color: #000;
    }

    li {
        color: #000;
    }

    li.highlight {
        transform: translateZ(20px);
    }

    li.non-highlight {

        display: block;
        opacity: .25;

    }
    
    blockquote {

        font-style: italic;
        color: #000
    }

    blockquote.pull-quote p {
        font-size: 45px;
    } 

    blockquote.pull-quote p cite {
        font-size: 40px;
        text-decoration: underline;
        padding-left: 940px;
    }

    blockquote span {
        color: #E95420;
    }
    
    a {
        text-decoration: none;
        color: #e95420;
        text-shadow: none;
        background-color: transparent;
    }
  
    .chevron {
    
        font-weight: bolder;
        color: #e95420;
    }
    
    .error {
    
        font-style: italic;
        color: red;
    }    

    .good {
        font-style: italic;
        color: green;
    }

    .step {

        position: relative;
        width: 900px;
        padding: 40px;
        margin: 20px auto;
        min-height: 720px;
    
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -ms-box-sizing:     border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;
   
        font-size: 48px;
        line-height: 1.5;
        font-family: Ubuntu, sans-serif;
    }*/
    
    .step .notes {
      display: none;
    }

    .step:not(.active) {
            
        opacity: 0;
            
        -webkit-transition: opacity 1s;
        -moz-transition:    opacity 1s;
        -ms-transition:     opacity 1s;
        -o-transition:      opacity 1s;
        transition:         opacity 1s;
    }

    .highlight {
        opacity: 1;
        transform: translateZ(15px);}

    .non-highlight {opacity: .1;}
